body
    background url('../img/bg.png') repeat 0 0 #ffffff
    color #444
    font normal 14px 'CartoGothicStdBook'
    line-height 1
    text-shadow 1px 1px 0 #ffffff

a, a:visited
    color #5686AC
    text-decoration none

a:hover
    color #5686AC
    text-decoration underline

input
    color #444
    font normal 14px 'CartoGothicStdBook'

    &:focus, &:active
        outline 0 none

h1, h2, h3, h4, strong
    font-family 'CartoGothicStdBold'
    font-weight normal
    margin 0

em
    font-family 'CartoGothicStdItalic'
    font-weight normal
