@font-face
    font-family 'CartoGothicStdBook'
    src url('../fonts/CartoGothicStd-Book-webfont.eot')
    src url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'), url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'), url('../fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'CartoGothicStdItalic'
    src url('../fonts/CartoGothicStd-Italic-webfont.eot')
    src url('../fonts/CartoGothicStd-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/CartoGothicStd-Italic-webfont.woff') format('woff'), url('../fonts/CartoGothicStd-Italic-webfont.ttf') format('truetype'), url('../fonts/CartoGothicStd-Italic-webfont.svg#CartoGothicStdItalic') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'CartoGothicStdBold'
    src url('../fonts/CartoGothicStd-Bold-webfont.eot')
    src url('../fonts/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff'), url('../fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype'), url('../fonts/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'CartoGothicStdBoldItalic'
    src url('../fonts/CartoGothicStd-BoldItalic-webfont.eot')
    src url('../fonts/CartoGothicStd-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/CartoGothicStd-BoldItalic-webfont.woff') format('woff'), url('../fonts/CartoGothicStd-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/CartoGothicStd-BoldItalic-webfont.svg#CartoGothicStdBoldItalic') format('svg')
    font-weight normal
    font-style normal
