@media (max-width: 480px)
    #header
        margin-bottom 10px

    #content
        padding 0 2% 0 2.3%
        margin 0

    .menu
        min-width 100%
        padding 10px 2%

        .menu-about
            display none

        .menu-list
            margin-left 5px

            .menu-link
                padding 5px

                .menu-count
                    margin-left 2px

    .settings, .menu-text, .menu-location
        display none !important

    .modal
        margin 0
        left 2.3%
        top 10% !important
        width 95%

    .welcome
        margin 0
        left auto
        top 10%
        width 95%

        .welcome-text
            font 1em 'CartoGothicStdBook', Arial, Serif
            margin 5px auto

        .welcome-form
            margin 15px auto 0
            width 100%

            .welcome-location
                font-size 1em

        .welcome-start
            font 1.5em 'CartoGothicStdBook', Arial, Serif
            padding 10px 20px 7px
