@media (max-width: 480px)
    .menu-list
        float left !important
        margin-left 20px

    #content
        padding 0 10%

    .settings, .menu-text, .menu-location
        display none !important
