.is-hidden
    display none

.is-invisible
    visibility hidden

.is-loading
    background url('../img/loader.gif') no-repeat center center
    min-height 200px

.is-disabled
	cursor not-allowed
	opacity 0.5

.is-empty
    font-size 42px
    margin-top 100px
    text-align center
    width 100%
