.happening.twitter
    .happening-content
        font-size 20px
        line-height 22px

    .happening-content-text
        margin 0

.happening-image
    margin-right 10px

.happening-name
    font-size 18px
    line-height 32px

.happening-metadata-time, .happening-metadata-km,
.instagram-metadata-name, .instagram-metadata-likes,
.person-time, .person-radius,
.spot-metadata-checkins, .spot-metadata-km
    color #888
    display inline-block
    font-size 11px

    &.instagram-metadata-name
        line-height 21px
        padding 0

.instagram-metadata-avatar
    border-radius 3px
    margin-right 5px

.happening-image, .person-image, .instagram-photo, .foursquare-map, .youtube-video
    background url("../img/loader-mini.gif") no-repeat center center #FFFFFF
    border-radius 4px
    box-shadow 0 1px 0px #fff, 0 -1px 0 0px #ddd
    border 1px solid #DDD
    border-top 0 none

.instagram-photo, .foursquare-map, .youtube-video
    display block
    min-height 275px
    min-width 273px

.foursquare-title, .youtube-title
    font-size 13px
    text-align center
    margin 5px auto 0
